@model FromCRUDtoCQRS.CRUD.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model != null)
{
    <h2>Details of @Model.Name</h2>
    <div>Id: @Model.Id</div>    
}
else
{
<h2>No product could be found.</h2>
}

