@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create Product</h2>
@using(var form = Html.BeginForm("Create", "Product")) 
{
<label for="name">Name</label>
<input type="text" id="name" name="name"/>
<input type="submit" value="Create"/>
}